body {
  @include fontExo;

  background: var(--gray);
}

* {
  box-sizing: border-box;

  &::selection {
    background-color: var(--black);
    color: var(--white);
  }
}

.container {
  margin: auto;
  padding: 0 20px;
  width: 100%;
  max-width: 800px;
}
